@use "./variables.scss";

:root {
  --ff-primary: #{variables.$ff-primary};

  --mobile-width: #{variables.$mobile-width};
  --tablet-width: #{variables.$tablet-width};
  --desktop-width: #{variables.$desktop-width};

  --mobile-padding: #{variables.$mobile-padding};
  --tablet-padding: #{variables.$tablet-padding};
  --desktop-padding: #{variables.$desktop-padding};

  --content-mobile-width: calc(var(--mobile-width) - 2 * var(--mobile-padding));
  --content-tablet-width: calc(var(--tablet-width) - 2 * var(--tablet-padding));
  --content-desktop-width: calc(var(--desktop-width) - 2 * var(--desktop-padding));

  --clr-black: #{variables.$clr-black};
  --clr-primary: #{variables.$clr-primary};
  --clr-primary-lighter: #{variables.$clr-primary-lighter};
  --clr-primary-darker: #{variables.$clr-primary-darker};
  --clr-secondary: #{variables.$clr-secondary};

  --clr-base-font: #{variables.$clr-base-font};
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  margin: 0;

  font-family: var(--ff-primary);
}
