$primary-font: "Montserrat";
$ff-primary: $primary-font, Arial, sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-padding: 20px;
$tablet-padding: 20px;
$desktop-padding: 40px;

$content-mobile-width: $mobile-width - $mobile-padding * 2;
$content-tablet-width: $tablet-width - $tablet-padding * 2;
$content-desktop-width: $desktop-width - $desktop-padding * 2;

$clr-black: #333333;
$clr-primary: #7859cf;
$clr-primary-lighter: #9070ec;
$clr-primary-darker: #593cac;
$clr-secondary: #f0ebff;

$clr-base-font: $clr-black;
