@use "../common/variables.scss";

.catalog {
  padding-block: 50px 43px;

  background-color: #f8f8f8;
}

.catalog__title {
  inline-size: var(--content-mobile-width, #{variables.$content-mobile-width});
  margin-inline: auto;
  margin-block-end: 20px;
}

.catalog__filters {
  margin-block-end: 42px;
}

.catalog__filters,
.catalog__products {
  inline-size: var(--content-mobile-width, #{variables.$content-mobile-width});
  margin-inline: auto;
}

@media (min-width: #{variables.$tablet-width}) {
  .catalog {
    padding-block: 80px 89px;
  }

  .catalog__title {
    inline-size: var(--content-tablet-width, #{variables.$content-tablet-width});
  }

  .catalog__filters {
    margin-block-end: 40px;
  }

  .catalog__filters,
  .catalog__products {
    inline-size: var(--content-tablet-width, #{variables.$content-tablet-width});
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr [filters] 318px [cards] 1011px 1fr;
    column-gap: 30px;
    padding-block: 100px 120px;
  }

  .catalog__title {
    grid-column: 1 / -1;
    inline-size: var(--content-desktop-width, #{variables.$content-desktop-width});
    margin-block-end: 36px;
  }

  .catalog__filters {
    padding-block-start: 4px;
    inline-size: auto;
    grid-column: filters;
  }

  .catalog__products {
    inline-size: auto;
    grid-column: cards;
  }
}
