@use "../common/variables.scss";

.dual-range.noUi-target {
  block-size: 4px;

  background-image: linear-gradient(to bottom, transparent 1px, #e2e2e2 1px, #e2e2e2 2px, transparent 2px);
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.dual-range .noUi-connect {
  background-color: var(--clr-primary-lighter, #{variables.$clr-primary-lighter});
}

.dual-range[disabled] .noUi-connect {
  background-color: #bdbdbd;
}

.dual-range .noUi-handle {
  top: -10px;

  box-sizing: border-box;
  inline-size: 24px;
  block-size: 24px;

  border: 2px solid var(--clr-primary-lighter, #{variables.$clr-primary-lighter});
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: none;
  cursor: pointer;
}

.dual-range .noUi-handle-lower {
  right: -24px;
}

.dual-range .noUi-handle-upper {
  right: 0;
}

.dual-range .noUi-handle::before {
  inset-inline-start: 50%;
  inset-block-start: 50%;

  display: none;
  inline-size: 16px;
  block-size: 16px;

  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dual-range .noUi-handle::after {
  display: none;
}

.dual-range .noUi-handle:focus-visible {
  outline: transparent;
}

.dual-range .noUi-handle:is(:hover, :focus-visible)::before {
  display: block;

  background-color: var(--clr-primary-transparent, #{variables.$clr-primary-transparent});
}

.dual-range .noUi-handle:active {
  border-color: var(--clr-primary, #{variables.$clr-primary});
}

.dual-range .noUi-handle:active::before {
  display: block;

  background-color: var(--clr-primary, #{variables.$clr-primary});
}

.dual-range[disabled] {
  cursor: default;
}

.dual-range[disabled] .noUi-handle {
  background-color: #f8f8f8;
  border-color: #bdbdbd;
  cursor: default;
}

.dual-range[disabled] .noUi-handle:is(:hover, :active)::before {
  display: none;
}
