@use "../common/mixins.scss";
@use "../common/variables.scss";

.filters__field-group {
  margin-block-end: 30px;
}

.filters__button {
  inline-size: 100%;
  margin-block-end: 20px;
}

.filters__button:last-child {
  margin-block-end: 0;
}

@media (min-width: #{variables.$tablet-width}) {
  .filters__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
  }

  .filters__field-group {
    margin-block-end: 0;
  }

  .filters__buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    grid-column: 1 / -1;
  }

  .filters__button {
    inline-size: auto;
    margin-block-end: 0;
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .filters__form {
    display: block;
  }

  .filters__field-group {
    margin-block-end: 30px;
  }

  .filters__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block-start: 10px;
  }
}
