@use "../common/variables.scss";

.map {
  display: grid;
  grid-template-columns: [map-start] 1fr [pin] 38px 1fr [map-end];
  grid-template-rows: [map-start] 1fr [pin] 50px 1fr [map-end];

  min-block-size: 420px;
}

.map__image-container {
  position: relative;

  display: block;
  grid-column: map;
  grid-row: map;
}

.map__image {
  position: absolute;
  inset: 0;

  display: block;
  inline-size: 100%;

  object-fit: cover;
}

.map__pin {
  display: block;
  grid-column: pin;
  grid-row: pin;

  transform: translateX(40%);
}

@media (min-width: #{variables.$tablet-width}) {
  .map__image-container {
    min-block-size: 480px;
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .map__image-container {
    min-block-size: 540px;
  }
}
