@use "../common/variables.scss";
@use "../common/mixins.scss";

.page-navigation__list {
  @include mixins.reset-list;

  margin-block: 0;

  @include mixins.primary-font(
    $font-size: 12px,
    $line-height: 16px,
    $font-weight: 500,
  );
  letter-spacing: 2%;
  text-transform: uppercase;

  border-block: 1px solid var(--crl-secondary, #{variables.$clr-secondary});
  background-color: #ffffff;
}

.page-navigation__item {
  text-align: center;
  border-block-end: 1px solid var(--crl-secondary, #{variables.$clr-secondary});
}

.page-navigation__item:last-child {
  border-block-end: 0;
}

.page-navigation__link {
  display: block;
  padding-block: 20px;
  padding-inline: 20px;

  color: inherit;
  text-decoration: none;
}

.page-navigation__link:is(:hover, :focus-visible) {
  color: var(--clr-primary, #{variables.$clr-primary});
}

.page-navigation__link:focus-visible {
  outline: transparent;
}

.page-navigation__link--active {
  color: var(--clr-primary, #{variables.$clr-primary});
}

.page-navigation__link--active:is(:hover, :focus-visible) {
  color: var(--clr-primary-transparent, #{variables.$clr-primary-transparent});
}

.page-navigation__link:active {
  color: var(--clr-black, #{variables.$clr-black});
  background-color: var(--clr-secondary, #{variables.$clr-secondary});
}

@media (min-width: #{variables.$tablet-width}) {
  .page-navigation__list {
    display: flex;
    flex-wrap: wrap;

    border: 0;
    background-color: transparent;
  }

  .page-navigation__item {
    border: 0;
  }

  .page-navigation__link {
    padding-block: 32px;
  }

  .page-navigation__link:active {
    color: var(--clr-primary, #{variables.$clr-primary});
  }

  .page-navigation__link--active {
    padding-block-end: 30px;
    border-block-end: 2px solid var(--clr-primary, #{variables.$clr-primary});
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .page-navigation__list {
    column-gap: 20px;
  }
}
