@use "../common/mixins.scss";
@use "../common/variables.scss";

.price {
  @include mixins.primary-font(
    $font-size: 20px,
    $line-height: 32px,
    $font-weight: 600,
  );
  text-decoration: none;
}

.price--old {
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
  color: var(--clr-primary, #{variables.$clr-primary});
}
